@charset "UTF-8";

/* ==========================================================
 login-area
========================================================== */
.sec-login-in {
	margin: 60px 0 50px 0;
	text-align: left;
	font-size: 40px;
	line-height: 1.1;
}
.sec-login-fail-in {
	margin: 0 0 50px 0;
	font-size: 40px;
}
.sec-login-detail {
	margin: 0 0 145px 0;
	font-size: 20px;
}
.form-login {
	width: 600px;
	margin: 0 auto;
}
.form-login-ttl {
	margin: 30px 0 9px 0;
	text-align: left;
	font-size: 16px;
	line-height: 1.125;
}
.form-login-input {
	width: 600px;
	height: 40px;
	padding: 0 0 0 5px;

	font-size: 16px;
	line-height: 1.125;
}
.form-login-button {
	background: #1C7CD5;
	margin: 55px 0;
	padding: 12px 34px;
	border-style: none;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
}
.area-login a {
	margin: 0 0 150px 0;
	display: block;
	text-align: center;
	text-decoration: underline;
}
/* ==========================================================
 reset
========================================================== */
.form-reset-in {
	width: 600px;
	margin: 0 auto;
}
.form-reset-ttl {
	font-size: 16px;
}
.form-reset-mail {
	padding: 0 0 0 10px;
	font-size: 20px;
}
.btn-registration-password {
	margin: 103px auto 0 auto;
	display: block;
	text-align: center;
}
.btn-registration-password-01{
	background: #1C7CD5;
	padding: 12px 34px;
	display: inline-block;
	border-style: none;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
}