@charset "UTF-8";

/* ==========================================================
 register player
========================================================== */
.sec-register-player-01 {
    margin: 0 0 70px 0;
}
.ttl-register-player {
    margin: 0 0 35px 0;
    padding: 0 0 0 15px;
    border-left: 4px solid #4d4d4d;
    line-height: 1;
    letter-spacing: 0em;
    font-size: 22px;
    font-weight: bold;
    color: #4D4D4D;
}
.form-cmn-01-wrap {
    width: 602px;
    margin: 0 0 0 100px;
    display: flex;
}
.ttl-register-player-in {
    margin: 0 0 0 100px;
}
.form-cmn-01 {
    width: 602px;
}
.btn-registration-player {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.form-registrtion-ttl-01 {
    margin: 0 0 8px 0;
    font-size: 16px;
}
.form-registrtion-ttl-02 {
    margin: 0 0 14px 0;
}
.form-cmn-02:last-child .form-registrtion-ttl-02 {
    margin: 0;
}
.form-registrtion-input-01 {
    width: 288px;
    height: 40px;
    margin: 0 26px 21px 0;
}
.form-registrtion-input-04 {
    width: 602px;
    height: 40px;
    margin: 0 0 0 0;
}
.form-registrtion-input-01::placeholder,
.form-registrtion-input-04::placeholder {
    padding: 0 0 0 10px;
}
.form-registrtion-check {
    width: 602px;
    margin: 21px 0 28px 100px;
    display: grid;
}
.form-registration-ttl-02 {
    margin: 0 0 14px 0;
}
.list-certification-consultant {
    padding: 0 0 0 13px;
}
.form-registrtion-check label {
    display: block;
}
.hidden input {
    display: none;
}