version: 2.1

executors:
  java-executor:
    docker:
      # Main container（Gradle + Java）
      - image: gradle:7.6-jdk11
        environment:
          SPRING_PROFILES_ACTIVE: test
          DB_NAME: webgame
          DB_USER: ${LOCAL_DB_USER}
          DB_PASS: ${LOCAL_DB_PASSWORD}

      # Service container（MySQL）
      - image: mysql:8.0
        environment:
          MYSQL_DATABASE: webgame
          MYSQL_USER: ${LOCAL_DB_USER}
          MYSQL_PASSWORD: ${LOCAL_DB_PASSWORD}
          MYSQL_ROOT_PASSWORD: password
        command: >
          mysqld
          --character-set-server=utf8mb4
          --collation-server=utf8mb4_unicode_ci

    working_directory: ~/project

jobs:
  test-backend:
    executor: java-executor
    steps:
      - checkout

      # Waiting for MySQL
      - run:
          name: Wait for MySQL
          command: |
            for i in `seq 1 20`; do
              mysql -h 127.0.0.1 -P 3306 -u root -ppassword -e "SELECT 1" && break
              echo "Waiting for MySQL..."
              sleep 3
            done

      # Move to backend directory
      - run:
          name: Run backend tests
          command: |
            cd infra/minikube/mysql-minikube-backend
            ./gradlew test -Dspring.profiles.active=test
  build-and-deploy:
    docker:
      - image: cimg/base:stable
    environment:
      AWS_REGION: us-east-1
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install AWS CLI
          command: |
            apt-get update && apt-get install -y unzip curl
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            ./aws/install --install-dir $HOME/aws-cli --bin-dir $HOME/bin
            echo 'export PATH=$HOME/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
            aws --version
      - run:
          name: Set image tag
          command: |
            echo "export IMAGE_TAG=${CIRCLE_SHA1:0:7}" >> $BASH_ENV
      - run:
          name: Build Docker Images
          command: |
            docker build -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/web_game:$IMAGE_TAG ./infra/minikube/mysql-minikube-backend
            docker build -t $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/web_game_front:$IMAGE_TAG ./infra/minikube/mysql-minikube-frontend/react-typescript
      - run:
          name: Push to Amazon ECR
          command: |
            aws --version
            aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com
            docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/web_game:$IMAGE_TAG
            docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/web_game_front:$IMAGE_TAG

workflows:
  ci:
    jobs:
      - test-backend
      - build-and-deploy
