@charset "UTF-8";

/* ==========================================================
 マイページに関連するページ全体に共通する部分
========================================================== */
.contents {
  min-width: 1215px;
  font-family: "M PLUS 1p", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
/* ==========================================================
 nav-local
========================================================== */
.nav-local {

}
  .nav-local li {
		margin: 0 0 65px 0;
	}
	  .nav02 {
			height: 22px;
			margin: 0 0 25px 0;
			padding: 0 0 0 14px;

			border-left: 2px solid #333;

			line-height: 1;
			font-size: 22px;
			font-weight: bold;
			color: #4D4D4D;
		}
			.nav-local-in li {
				margin: 0 0 20px 0;
			}
				.nav-local li a {
					padding: 0 0 0 14px;
					letter-spacing: 0em;
					line-height: 1.5;
					font-size: 20px;
					font-weight: bold;
					color: #009ECE;
				}
					.nav-local li a:hover {
						color: #009ECE;
						text-decoration: underline;
					}
/* ==========================================================
 contents
========================================================== */
.contents {
	min-width: 1215px;
	margin: 52px auto 49px auto;
	text-align: left;
  }
		.contents-main {
		float: right;
		width: 980px;
		}
		  .contents-main-main {
				float: left;
		    width: 684px;
			}
			.contents-main-sub {
				float: right;
				width: 296px;
				height: 296px;
			}
			.contents-main-bottom {
				min-width: 980px;
				float: left;
				margin: 52px auto 0 auto;
				text-align: left;
			}
		.contents-sub {
		float: left;
		width: 234.5px;
		height: 372px;
		}
/* ==========================================================
 contents-ttl
========================================================== */
.contents-ttl {
	margin: 0 0 40px 0;
	position: relative;
}
.sec-ttl-in {
  margin: 0 0 48px 0;

  line-height: 1.1;
  letter-spacing: 0;
  font-size: 40px;
}
.sec-ttl-in p {
  font-size: 20px;
  line-height: 1.5;
}
/* ==========================================================
 mypage
========================================================== */
	.sec-search {
		margin: 0 0 87px 0;
		letter-spacing: -.4em;
	}
		.box-search-keyword {
			margin: 0 15px 50px 0;
			display: inline-block;
			letter-spacing: 0;
		}
			.ttl-search-keyword {
				margin: 0 31.56px 0 0;
				font-size: 22px;
				color: #A9A9A9;
			}
			.form-input-keyword {
				width: 600px;
				height: 40px;
			}
	.box-search-pulldown {
		margin: 0 0 25px 0;
	}
		.ttl-search-tag {
			margin: 0 97.56px 0 0;
			font-size: 22px;
			color: #A9A9A9;
		}
		.search-mypage-pulldown {
			width: 278.44px;
			height: 40px;
		}
		.btn-search-mypage {
			background:#1C7CD5;
			width: 130px;
			height: 40px;

			border-radius: 3px;
			font-size: 16px;
			color: #fff;
		}
.list-search-result {
	margin: 0 0 50px 0;
}
.ttl-mypage {
	padding: 0 0 19px 0;
	border-bottom: 2px solid #a9a9a9;
}
.list-mypage {
	padding: 17px 0 19px 0;
	border-bottom: 2px solid #a9a9a9;
	font-size: 0;
	color: #A9A9A9;
	position: relative;
}
	.ttl-mypage-number {
		margin: 0 45px 0 0;
	}
	.ttl-mypage-seminar {
		margin: 0 488px 0 0;
	}
	.ttl-mypage-instructor {
		margin: 0 106px 0 0;
	}
	.list-mypage-number {
		margin: 0 48px 0 0;
		font-size: 20px;
		color: #333;
	}
	.list-mypage-number-02 {
		margin: 0 35px 0 0;
		font-size: 20px;
		color: #333;
	}
      .list-mypage-seminar a:hover {
        color: #009ece;
        text-decoration: underline;
      }
			.list-mypage-instructor {
				width: 148px;
				height: 27px;
				margin: 0 15px 0 0;
				display: inline-block;
				font-size: 18px;
			}
				.list-mypage-instructor a {
					font-weight: bold;
				}
				.list-mypage-instructor a:hover {
					color: #009ece;
					text-decoration: underline;
				}
    .list-mypage-date {
      width: 110px;
      font-size: 18px;
		}
		.list-mypage-edit {
			background: #5CB85C;
			width: 60px;
			height: 27px;
			padding: 5px 0 0 9px;
			display: inline-block;
			font-size: 11px;
			border-radius: 4px;
			position: absolute;
			top: 22px;
			right: 0;
		}
			.list-mypage-edit a {
				color: #fff;
			}
.btn-pagination-search-wrap {
	text-align: center;
}
	.btn-pagination-search {
		display: inline-block;
	}
		.btn-pagination-search a {
			padding: 8px 16px;
			font-size: 16px;
			font-family: "Helvetica Neue","M PLUS 1p", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
			color: #1C7CD5;
			text-decoration: none;
			border-top: 1px solid #DDD;
			border-left: 1px solid #DDD;
			border-bottom: 1px solid #DDD;
			float: left;
		}
			.btn-pagination-search a:first-child {
				border-radius: 4px 0 0 4px;
			}
			.btn-pagination-search a:last-child {
				border-right: 1px solid #DDD;
				border-radius: 0 4px 4px 0;
			}
			.btn-pagination-search a:hover {
				text-decoration: underline;
			}
/* ==========================================================
 mypage identity
========================================================== */
.contents-ttl-mypage {
	margin: 0 0 40px 0;
	position: relative;
}
	.h1-mypage-activated {
		margin: 0 0 48px 0;
		display: inline-block;

		line-height: 1.1;
		letter-spacing: 0;
		font-size: 40px;
	}
	.link-identity {
		color: #333;
	}
	.link-identity:hover {
		opacity: .7;
	}
		.box-identity-wrap {
			display: inline-block;
		}
		.box-identity-sentence {
				position: absolute;
				right: 0;
				top: 0;
			}
				.txt-user-name {
					diplay: inline-block;
					font-size: 20px;
				}
				.txt-release {
					background: #EBD844;
					width: 90px;
					height: 27px;
					margin: 0 0 0 auto;
					text-align: center;
					font-size: 16px;
					color: #fff;
					border-radius: 5px;
				}
/* ==========================================================
 user search
========================================================== */
.ttl-search-number {
	margin: 0 60px 0 0;
	font-size: 20px;
}
.ttl-search-user {
	margin: 0 266px 0 0;
	font-size: 18px;
}
.ttl-search-mail {
	margin: 0 211px 0 0;
	font-size: 18px
}
.list-search-number {
	margin: 0 70px 0 0;
	font-size: 20px;
	color: #333;
}
.list-search-number-02 {
	margin: 0 59px 0 0;
	font-size: 20px;
	color: #333;
}
.list-search-user {
	width: 185px;
	height: 31px;
	margin: 0 176px 0 0;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
.list-search-user a {
  font-weight: bold;
}
.list-search-user a:hover {
  color: #009ece;
  text-decoration: underline;
}
.list-search-mail {
	width: 211px;
	height: 27px;
	margin: 0 15px 0 0;
	display: inline-block;
	font-size: 18px;
}
.list-search-certification {
	width: 200px;
	font-size: 18px;
}
/* ==========================================================
 register player
========================================================== */
.sec-register-player-01 {
  margin: 0 0 70px 0;
}
.ttl-register-player {
  margin: 0 0 35px 0;
  padding: 0 0 0 15px;
  border-left: 4px solid #4d4d4d;

  line-height: 1;
  letter-spacing: 0em;
  font-size: 22px;
  font-weight: bold;
  color: #4D4D4D;
}
.form-cmn-01-wrap {
  width: 602px;
  margin: 0 0 0 100px;
  display: flex;
}
.ttl-register-player-in {
  margin: 0 0 0 100px;
}
.form-cmn-01 {
  width: 602px;
}
.btn-registration-player {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.btn-registration-player-01{
  background: #1C7CD5;
  margin: 50px 0;
  padding: 12px 34px;
  border-style: none;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
}
.form-registrtion-ttl-01 {
  margin: 0 0 8px 0;
  font-size: 16px;
}
.form-registrtion-ttl-02 {
  margin: 0 0 14px 0;
}
.form-cmn-02:last-child .form-registrtion-ttl-02 {
  margin: 0;
}
.form-registrtion-input-01 {
  width: 288px;
  height: 40px;
  margin: 0 26px 21px 0;
}
.form-registrtion-input-04 {
  width: 602px;
  height: 40px;
  margin: 0 0 0 0;
}
.form-registrtion-input-01::placeholder,
.form-registrtion-input-04::placeholder
  {
  padding: 0 0 0 10px;
}
.form-registrtion-check {
  width: 602px;
  margin: 21px 0 28px 100px;
  display: grid;
}
.form-registration-ttl-02 {
  margin: 0 0 14px 0;
}
.list-certification-consultant {
  padding: 0 0 0 13px;
}
.form-registrtion-check label {
  display: block;
}
.hidden {
    display: none;
}
.hidden input {
  display: none;
}
/* ==========================================================
 player info
========================================================== */
.list-basic-01 {
  width: 311px;
}
.list-basic-02 {
  width: 500px;
}
.sec-instructor-info-01 {
	margin-bottom: 39px;
}
.box-registrtion-check {
  width: 602px;
  margin: 21px 0 28px 0;
  display: grid;
}
.txt-detail-01 {
  width: 899px;
}
.ttl-instructor-info {
  margin-bottom: 14px;
  font-size: 16px;
  font-family: "Helvetica Neue","M PLUS 1p", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #373A3C;
}
.txt-instructor-info,
.txt-instructor-info-02,
.txt-instructor-info-03,
.txt-instructor-info-04,
.txt-instructor-info-05 {
  font-size: 20px;
  color: #333;
}
.txt-instructor-info {
  display: block;
  margin-bottom: 28px;
}
.txt-instructor-info-03 {
  margin-bottom: 28px;
  display: inline-block;
  font-weight: bold;
  color: #009ECE;
}
.txt-instructor-info-04 {
  font-weight: bold;
  color: #009ECE;
}
.btn-instructor-info {
  margin: 100px auto;
  display: block;
  text-align: center;
}
.ttl-instructor-img {
  margin-left: 50px;
}
.btn-instructor-img {
  margin: 50px auto 0;
  display: block;
  text-align: center;
}